<a href="https://colab.research.google.com/github/Div623/Python_t/blob/main/Python_day4_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def create_tuple():
  tuple1 = (1,2,3,4,5) # indexing is same as list
  tuple2 = ('a','b','c','d','e')
  tuple3 = ('apple','mango','orange','banana')
  return tuple1,tuple2,tuple3

def access_tuple_items(tuple1,tuple2):
  print("Tuple 1:",tuple1)
  print("First element of tuple:",tuple1[0])
  print("Last element of tuple:",tuple1[-1])
  print("Tuple 2:",tuple2)
  print("First element of tuple:",tuple2[0])
  print("Last element of tuple:",tuple2[-1])
  print("Tuple1",tuple1[0:5])

def unpacking_tuple1(tuple3):
  fruits=("apple","banana","cherry","strawberry","raspberry")
  (green,yellow,red,orange,purple)=fruits
  print(green)
  print(yellow)
  print(red)
  print(orange)
  print(purple)
  #2nd method
def unpacking_tuple2(tuple3):
  fruits=("apple","banana","cherry","strawberry","raspberry")
  (green,yellow,*red)=fruits
  print(green)
  print(yellow)
  print(red)

def change_tuples(tuple1,tuple2):
  list1= list(tuple1)
  list2= list(tuple2)
  list1.append(6)
  list2.append(6)
  tuple1= tuple(list1)
  tuple2= tuple(list2)
  return tuple1,tuple2

def lop_through_tuple(tuple1):
  print("Looping through tuple1 using for loop")
  for i in tuple1:
    print(i)

  print("2nd method using for loop")
  for i in range(0,len(tuple1)):
    print(tuple1[i])

  print("\nLooping through tuple1 using while loop and index numbers")
  i=0
  while i<len(tuple1):
    print(tuple1[i])
    i=i+1

def join_tuples(tuple1,tuple2):
  tuple3= tuple1+tuple2
  return tuple3

tuple1,tuple2,tuple3 = create_tuple()
access_tuple_items(tuple1,tuple2)
unpacking_tuple1(tuple3)
unpacking_tuple2(tuple3)
tuple1,tuple2=change_tuples(tuple1,tuple2)

lop_through_tuple(tuple1)

print(join_tuples(tuple1,tuple2))

Tuple 1: (1, 2, 3, 4, 5)
First element of tuple: 1
Last element of tuple: 5
Tuple 2: ('a', 'b', 'c', 'd', 'e')
First element of tuple: a
Last element of tuple: e
Tuple1 (1, 2, 3, 4, 5)
apple
banana
cherry
strawberry
raspberry
apple
banana
['cherry', 'strawberry', 'raspberry']
Looping through tuple1 using for loop
1
2
3
4
5
6
2nd method using for loop
1
2
3
4
5
6

Looping through tuple1 using while loop and index numbers
1
2
3
4
5
6
(1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e', 6)

In [ ]:
string_tup=tuple("hello")
print(string_tup)

list_tuple=list(["apple","kiwi","orange"])
print(list_tuple)

('h', 'e', 'l', 'l', 'o')
['apple', 'kiwi', 'orange']

In [ ]:
# sorted a tuple
tuple_int=(5,2,8,1,3)
sorted_tup= tuple(sorted(tuple_int)) # here tuple(...) converts list to tuple
print(sorted_tup)

#sort function changes the origunal order hence it is not possible hence use sorted
#sorted works by ceating a list ,then sort then ,converts to tuple

(1, 2, 3, 5, 8)

In [ ]:
#sort
tuple_int=(5,2,8,1,3)
sorted_tup= tuple(sort(tuple_int))
print(sorted_tup)

NameError: name 'sort' is not defined

In [ ]:
tuples=((1,"apple"),(3,"mango"),(2,"orange"))
sort= tuple(sorted(tuples))  #sort=sorted(tuples, key=lambda x:x[1])
print(sort)

((1, 'apple'), (2, 'orange'), (3, 'mango'))

In [ ]:
#tuple comprehension to ccreate a tuple of squares
sq_tuple=tuple(x**2 for x in range(1,6))
print(sq_tuple)

(1, 4, 9, 16, 25)

In [ ]:
l1=[1,2,3]
l2=[4,5,6]

#zip the list into a tupple of pairs
zipped_t=zip(l1,l2)
print(list(zipped_t))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
# point named tuple
from collections import namedtuple
import math
#define a namedtuple for coordinates
Point=namedtuple('Point',['x','y'])
#create two points
point1=Point(1,2)
point2=Point(4,6)
#calculate distance between two point
dis=math.sqrt((point1.x-point2.x)**2+(point1.y-point2.y)**2)
print(dis)

5.0

In [ ]:
# filter even numbers
''' filter(function,tuple)'''

tupl=(1,2,3,4,5)
filtered=tuple(filter(lambda x:x%2==0, tupl))
print("FILTERED TUPLE",filtered)

FILTERED TUPLE (2, 4)

In [ ]:
#reduce:reduces the tuple to single value
''' reduce(function,tuple)'''

from functools import reduce
def add(x,y):
  return x+y
tuple1=(1,2,3,4,5)
print(reduce(add,tuple1))

15