<a href="https://colab.research.google.com/github/Div623/Python_t/blob/main/Python_pl_tr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a python code to read the name and year of birth of a person and calculate his age in 2024

name=input("Enter a name:")
year=int(input("Enter year of birth:"))
age=2024-year
print("The person",name,"born in",year,"is",age)

Enter a name:Divya
Enter year of birth:2003
The person Divya born in 2003 is 21

In [ ]:
# Mark of a student

Mark=int(input("Enter a mark:"))
if(80<Mark<=100):
  print("distinction")
elif(60<=Mark<=80):
  print("pass")
elif(Mark<=60):
  print("fail")
elif(Mark>100):
  print("invalid Mark")

Enter a mark:60
pass

In [ ]:
#Prime number or not
n=int(input("Enter a number:"))

if n ==1 or 0:
  print(n, "is not a prime number")
if n==2:
  print(n,"is a prime")

for i in range (2,n):
  if (n%i==0):
    print(n,"number is not a prime")
    break
  else:
    print(n,"number is prime")
    break

Enter a number:4
4 number is not a prime

In [ ]:
# Prime number in range
start=int(input("Enter starting number:"))
end=int(input("Enter ending number:"))

for num in range(start,end+1): #here can be anything (j,k,etc..)
  for i in range(2,num):
    if num%i ==0:
      break
    else:
      print(num)
      break

Enter starting number:1
Enter ending number:10
3
5
7
9

In [ ]:
#count Prime number in range
start=int(input("Enter starting number:"))
end=int(input("Enter ending number:"))
count=0
for num in range(start,end+1): #here can be anything (j,k,etc..)
  for i in range(2,num):
    if num%i ==0:
      break
    else:
      print(num)
      count+=1
      break
print("prime number in given range :",count)

Enter starting number:1
Enter ending number:10
3
5
7
9
prime number in given range : 4

In [ ]:
#strong number 145 = 1!+4!+5! =145

num=int(input("Enter a number:"))
temp=num   #
sum=0      #
while(num):
  i=1               #
  f=1
  r = num % 10
  while(i<=r):     #
    f=f*i
    i+=1
  sum = sum + f
  num = num // 10
if(sum==temp):
  print(temp,"is a strong number")
else:
  print(temp,"is not a strong number")

Enter a number:145
145 is a strong number

In [ ]:
#Arm strong number        153 ,len(153)=3 ;      153 = 1^3 + 5^3 + 3^3= 153

num=int(input("Enter a number:"))
temp=num
sum=0
ord=len(str(num))    # only len of string
while(num):
  r=num%10
  d=r**ord   # (**)means power of
  sum=sum+d
  num=num//10
if(sum==temp):
  print(temp,"is a arm strong number")
else:
  print(temp,"is not a arm strong number")

Enter a number:153
153 is a arm strong number

In [ ]:
# Neon number   9 = 9^2= 81 = 8 + 1 =9

num=int(input("Enter a number:"))
temp=num
sum=0
d=num*num       # square
while(d):              # pass  'd'
  r = d%10
  sum=sum+r
  d = d//10  # d (squared) not num
if(sum==num):
  print(num,"is a  neon number")
else:
  print(num,"is not a  neon number")

Enter a number:9
9 is a  neon number

In [ ]:
#spy number  1124 ; 1+1+2+4 = 1*1*2*4

num=int(input("Enter a number:"))
temp=num
sum=0
product=1
while(num):
  r=num%10
  sum= sum + r          #  ' + '
  product= product * r           #  ' * '
  num=num//10
if(sum==product):
  print(temp,"is a spy number")
else:
  print(temp,"is not a spy number")

Enter a number:1124
1124 is a spy number

In [ ]:
'''Happy number
                      19 : 1^2 + 9^2 = 82 != 1
                           8^2 + 2^2 = 68 != 1
                           6^2 + 8^2 = 100 != 1
                           1^2 + 0^2 + 0^2 = 1          ; stop   '''


def ishappy(num):
  sum=0
  while(num!=0):
    r=num%10
    sum=sum+r**2
    num=num//10
  return sum

num=int(input("Enter a number:"))
temp=num

# if(num==1):
#     print("True")
# elif(num==4):
#     print("False")

while(num!=1 or 4):
  num=ishappy(num)
  if(num==1):
    print(True)
    break
  elif(num==4):
    print(False)
    break

Enter a number:82
True

In [ ]:
# factorial of a number

n=(int(input("Enter a number:")))
factorial=1
if(n<0):
  print("factorial does not exist for negative numbers")
elif(n==0):
  print("the factorial of 0 is 1")

else:
  for i in range(1,n+1):
    factorial=factorial*i
  print("the factorial of ",n,"is",factorial)

Enter a number:5
the factorial of  5 is 120

In [ ]:
# palindrome of a number

num = int(input("enter a number"))

def Palindrome(num):
  num = str(num)
  if num ==num[::-1]:
    print("is a palindrome")
  else :
    print("is not a palindrome")

Palindrome(num)               # call

enter a number121
is a palindrome

In [ ]:
# multiplication table

num = int(input("enter a number"))

for i in range (1,11):
  print(num,'*',i,'=',num*i)

enter a number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# fibonacci        ; next no is equal to the sum of previous two number

num = int(input("enter a number:"))
fib1 =0        #
fib2 =1         #
print(fib1,fib2,end=" ")
for num in range (2,num):
  fib3 = fib1 + fib2           #
  print(fib3 ,end=" ")
  fib1 =fib2             #
  fib2 =fib3

enter a number:9
0 1 1 2 3 5 8 13 21

In [ ]:
#read a string from user , implement logic to remove characters which are odd numbered index

string=input("enter a srting:")
a=" "
for i in range(0,len(string)):
  if(i%2!=0):
    a=a+string[i]
print(a)

enter a srting:nmam
 mm

In [ ]:
# convert neagative number to positive

n=int(input("enter a number"))

if (n<0):
  print(abs(n))
else:
  print(n)

enter a number-2
2

In [ ]:
#pattern
'''
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):

      print("*",end=" ")

  print()

enter the number of rows:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#pattern
'''
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):

      print("A",end=" ")

  print()

enter the number of rows:5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [ ]:
#pattern
'''
*
* *
* * *
* * * *
* * * * *
'''

n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
    if(j<=i):
      print("*",end=" ")

  print()

enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#pattern
'''
        *
      * *
    * * *
  * * * *
* * * * *
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
      if(i+j>=n-1):
        print("*",end=" ")
      else:
        print(" ",end=" ")
  print()

enter the number of rows:5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#pattern
'''
* * * * *
  * * * *
    * * *
      * *
        *
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
      if(j>=i):
        print("*",end=" ")
      else:
        print(" ",end=" ")
  print()

enter the number of rows:5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#pattern
'''
* * * * *
* * * *
* * *
* *
*
'''

n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
      if(i+j<=n-1):
        print("*",end=" ")

  print()

enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#pattern
''' 1
    2 2
    3 3 3
    4 4 4 4
    5 5 5 5 5
'''

n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(1,n+1):
  for j in range(1,n+1):
    if (j<=i):
      print(i,end=" ")
  print()

enter the number of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#pattern
'''
* * * * *
*       *
*       *
*       *
* * * * *
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
    if (i==0 or i==n-1 or j==0 or j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows:5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#pattern
'''
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
for i in range(0,n):
  for j in range(0,n):
    if (i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

enter the number of rows:5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
#pattern
'''
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16
'''
n=int(input("enter the number of rows:"))#here same no of rows and column
K=1
for i in range(0,n):
  for j in range(0,n):

      print(K,end=" ")
      K=K+1

  print()

enter the number of rows:4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
# program to swap two numbers using 3rd variable

n=int(input("Enter a number:"))
m=int(input("Enter a number:"))

temp=n
n=m
m=temp
print("the value of n after swapping:",n)
print("the value of m after swapping:",m)

Enter a number:4
Enter a number:7
the value of n after swapping: 7
the value of m after swapping: 4

In [ ]:
# without using 3rd variable

n=int(input("Enter a number:"))
m=int(input("Enter a number:"))

n=n+m
m=n-m
n=n-m
print("the value of n after swapping:",n)
print("the value of m after swapping:",m)

Enter a number:8
Enter a number:5
the value of n after swapping: 5
the value of m after swapping: 8

In [ ]:
#write a python program to find the best of 2 test average marks out of 3 tests marks accepted from the user
marks1=int(input())
marks2=int(input())
marks3=int(input())

if marks1>marks2 and marks2>marks3:
  print((marks1+marks2)/2)

elif marks3>marks1 and marks1>marks2:
  print((marks1+marks3)/2)

else:
  print((marks3+marks2)/2)

33
56
87
71.5

In [ ]:
#Develop A PYTHON programe to convert a binary number into a decimal, octal or hexa decimal numbers using functions

In [ ]:
#  Define a  function F as Fn =Fn-1 +Fn-2. write a python program which accepts a value for N(for N >0)
#as input and pass this value to the function. Display suitable error msg if the condition for input vzlue is not followed

In [ ]:
# find string similarities between 2 similar strings

In [ ]:
# write a Python program that accepts a sentence and finds the number of words, digits, uppercase lettrs and lower case letters