<a href="https://colab.research.google.com/github/Div623/Python_t/blob/main/Python_day4%265_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict1={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
thisdict2 = dict(name="John",age=36,country="Norway")
print(thisdict1)
print(thisdict2)
print(type(thisdict1))
print(type(thisdict2))
print(len(thisdict1))
print(len(thisdict2))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'name': 'John', 'age': 36, 'country': 'Norway'}
<class 'dict'>
<class 'dict'>
3
3

In [ ]:
#adding key:value pairs
my_dict = {}
my_dict['name']= 'Alice'
my_dict['age']= 25
my_dict['city']= 'New York'
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#access
print("Name:",my_dict['name'])
print("Age:",my_dict['age'])
print("City:",my_dict['city'])
x=my_dict.keys()
print(x)
y=my_dict.values()
print(y)
z=my_dict.items()
print(z)
m=my_dict.get("name")
print(x)

Name: Alice
Age: 25
City: New York
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
dict_keys(['name', 'age', 'city'])

In [ ]:
for x in my_dict:
    print(x)
for x in my_dict:
  print(my_dict[x])

name
age
city
Alice
25
New York

In [ ]:
#iterate over keys
print("Keys:")
for x in my_dict.keys():
  print(x)
#iterate over values
for x in my_dict.values():
  print(x)
#iterate over key:value pairs
for x in my_dict.items():
  print(x)

Keys:
name
age
city
Alice
25
New York
('name', 'Alice')
('age', 25)
('city', 'New York')

In [ ]:
#checking if a key exists
if "name" in my_dict:
  print( "'name' is one of the keys in the dictionary")            # in
else:
  print("'name' is not one of the keys in the dictionary")

'name' is one of the keys in the dictionary

In [ ]:
# changable property  1) assigning
my_dict['age']=35
print("Modified dictionary:")
print(my_dict)
# 2) using update method
my_dict.update({"age":40})  # dict.update( { key:value } )
print("Updated dictionary:")
print(my_dict)

Modified dictionary:
{'name': 'Alice', 'age': 35, 'city': 'New York'}
Updated dictionary:
{'name': 'Alice', 'age': 40, 'city': 'New York'}

In [ ]:
# removing a key:value pair using pop
removed_value=my_dict.pop("city")
print("Removed value:",removed_value)
print("Updated dictionary:")
print(my_dict)

Removed value: New York
Updated dictionary:
{'name': 'Alice', 'age': 40}

In [ ]:
# using popitem()
my_dict.popitem() # last inserted one is popped
print(my_dict)

{'name': 'Alice'}

In [ ]:
#clear
my_dict.clear()
print(my_dict)       # clears the entire dictionary
#del keyword
del my_dict
print(my_dict)    # gives error if we wnt to print alredy deleted dictionary

{}

NameError: name 'my_dict' is not defined

In [ ]:
# nested dictionary
my_family={
    "child1":{
        "name":"Alice",
        "year":2004
    },
    "child2":{
        "name":"Bob",
        "year":2007
    },
    "child3":{
        "name":"joe",
        "year":2011
    }
}
print(my_family)

#acess
print(my_family["child1"])             # child1 ;key
print(my_family["child2"]["name"])       # child2,name ;key

{'child1': {'name': 'Alice', 'year': 2004}, 'child2': {'name': 'Bob', 'year': 2007}, 'child3': {'name': 'joe', 'year': 2011}}
{'name': 'Alice', 'year': 2004}
Bob

In [ ]:
#iterate
for x,y in my_family.items():
    print(x,y)

child1 {'name': 'Alice', 'year': 2004}
child2 {'name': 'Bob', 'year': 2007}
child3 {'name': 'joe', 'year': 2011}

In [ ]:
#iterate
for x,obj in my_family.items():
    print(x)       #prints ;first key
    for y in obj:
        print(y +':', obj[y])  #prints ; second key + ':' (concatenates ':' to second key), values

child1
name: Alice
year: 2004
child2
name: Bob
year: 2007
child3
name: joe
year: 2011