<a href="https://colab.research.google.com/github/Div623/Python_t/blob/main/pyton_d3%264_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list
l1=["apple","banana","cherry","mango"]
l2=[10,20,30,40]
l3=[True,False]
l4=list(("Jack"))
l5=list(("Jack","John"))

print(l4)
print(l5)
print(l1[0])   # index 0,1,2,3
print(l1[0:4])   # v1:v2 ; v1 included ,v2 not included
print(l1[:4])
print(l1[0:])
print(l1[:])

# negative index
print(l1[-4:-1])     # index  -4,-3,-2,-1
print(l1[-4:-2])
print(l1[:-1])
print(l1[-4:])

if "apple" in l1:
    print("yes")
else:                # (or) if "apple" not in l1 :
    print("no")
#Replace
l1[1]="Kiwi"
print(l1)
l1[1:3]=["Pineapple","dates","x"]
print(l1)

['J', 'a', 'c', 'k']
['Jack', 'John']
apple
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
['apple', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']
yes
['apple', 'Kiwi', 'cherry', 'mango']
['apple', 'Pineapple', 'dates', 'x', 'mango']

In [ ]:
list=["apple","banana","cherry"]
list[1:3]=["watermelon"]
print(list)

['apple', 'watermelon']

In [ ]:
#insert() method
list=["apple","banana","cherry"]
list.insert(2,"watermelon")
print(list)
#append()
list=["apple","banana","cherry"]
list.append("mango")
print(list)
#extend()
list1=["apple","banana","cherry"]
list2=["watermelon","kiwi"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'watermelon', 'kiwi']

In [ ]:
#remove() method
lis=["apple","banana","cherry","mango","banana"]
lis.remove("banana")
print(lis)
#pop()
lis=["apple","banana","cherry"]
lis.pop(1)
print(lis)
#clear()      ; clear the list
lis=["apple","banana","cherry"]
lis.clear()
print(lis)
#del  keyword  ;deletes the list itself
lis=["apple","banana","cherry"]
del lis
print(lis)

['apple', 'cherry', 'mango', 'banana']
['apple', 'cherry']
[]

NameError: name 'lis' is not defined

In [ ]:
# while loop
print("while loop")
lis=["cat","dog","mouse"]
i=0
while i<len(lis):
    print(lis[i])
    i=i+1
# for loop (1)
print("for loop")
lis=["cat","dog","mouse"]
for x in lis:
    print(x)
# for loop (2)
print("for loop")
lis=["cat","dog","mouse"]
for i in range(len(lis)):
    print(lis[i])

while loop
cat
dog
mouse
for loop
cat
dog
mouse
for loop
cat
dog
mouse

In [ ]:
# list comprehension
#newlist=[expression for item in iterable]
tlist=["apple","banana","cherry","mango"]

print( x for x in tlist )

<generator object <genexpr> at 0x7a0665434040>

In [ ]:
#fruit names in which 'a' is present

fruits=["apple","banana","cherry","kiwi"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana']

In [ ]:
#fruit names in which 'a' is present

fruits=["apple","banana","cherry","kiwi"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana']

In [ ]:
# sort the list
fruits=["apple","orange","mango","kiwi","banana"]
fruits.sort()
print(fruits)
# reverse the sort  ; sort(descending)
fruits=["apple","orange","mango","kiwi","banana"]
fruits.sort(reverse=True)
print(fruits)

['apple', 'banana', 'kiwi', 'mango', 'orange']
['orange', 'mango', 'kiwi', 'banana', 'apple']

In [ ]:
# sort the list numerically
num=[10,40,7,84,13]
num.sort()
print(num)
# sort(descending)
num=[10,40,7,84,13]
num.sort(reverse=True)
print(num)

[7, 10, 13, 40, 84]
[84, 40, 13, 10, 7]

In [ ]:
# sort according to, how close the marks is to 50
# customized sort
def fun(n):
  return abs(n-50)           # actual parameter ;  not formal

marks=[100,50,65,82,23]
marks.sort(key=fun)
print(marks)                               # just passing function name    ;not calling

[50, 65, 23, 82, 100]

In [ ]:
# case sensitive
fruit=["orange","apple","Mango","Banana"]
fruit.sort()
print(fruit)
# case insensitive
fruit=["orange","Apple","Mango","Banana"]
fruit.sort(key=str.lower)
print(fruit)

['Banana', 'Mango', 'apple', 'orange']
['Apple', 'Banana', 'Mango', 'orange']

In [ ]:
# to swap first and last element
li=[1,2,3,4,9]        # first element(li[0]) , last element(li[-1])
print(li)
temp=li[0]
li[0]=li[-1]
li[-1]=temp
print("swapped",li)

#or
def swap(li):
  size=len(li)
  temp=li[0]
  li[0]=li[size-1]
  li[size-1]=temp
  return li

li=[2,4,7,5,9]
print(li)
print("swapped",swap(li))

[1, 2, 3, 4, 9]
swapped [9, 2, 3, 4, 1]
[2, 4, 7, 5, 9]
swapped [9, 4, 7, 5, 2]

In [ ]:
#swap elements at given position
def swappositions(li,pos1,pos2):
  temp=li[pos1]
  li[pos1]=li[pos2]
  li[pos2]=temp
  return li

li=[90,30,20,84,100]
#   0   1  2  3  4
pos1,pos2=1,3
print(swappositions(li,pos1,pos2))

[90, 84, 20, 30, 100]

In [ ]:
# initialze list and find the sum of elements in list

li=[10,45,78,23,55]
sum=0
for i in li:
  sum+=i
#or out of the loop avg=sum/len(li)
print("sum of elements in list:",sum)
print("average of elements:",sum/len(li))   #average

sum of elements in list: 211
average of elements: 42.2

In [ ]:
# to find first and last element in list
li=[19,47,8,90]
print("first element",li[0])
print("last element",li[-1])

first element 19
last element 90

In [ ]:
# find min and max element in an array
li=[19,99,16,33,100]
print("min element",min(li))
print("max element",max(li))
# or
li.sort()
print("min element",li[0])
print("max element",li[-1])   # li[-1]=len[li]-1
#or
for i in li:

In [ ]:
# count the no of occuranes of an item in the list ; using function
def countocc(li,x):
  count=0
  for i in li:
    if i==x:
      count+=1

  return count

li=[10,40,50,40,66,38,40,40]
x=int(input("enter the element to count:"))
print(countocc(li,x))

enter the element to count:40
4

In [ ]:
#to count the unique values in the list
def unique(li):
  x=set(li)              #set do not allow duplicate  ; only unique values
  return len(x)

li=[10,40,50,40,66,38,40,40]
print(li)
print("count:",unique(li))

#or
li=[2,3,7,5,2,7,3]
unique=[]
count=0
for i in li:
  if i not in unique:
    unique.append(i)                   ; append only unique values
    count=count+1
print(unique)
print("count:",count)

[10, 40, 50, 40, 66, 38, 40, 40]
count: 5
[2, 3, 7, 5]
count: 4

In [ ]:
#find out the duplicate removal list product using list comprehension
# take the unique list and find the product of elements
def product(un):
  product=1
  for x in un:
    product=product*x
  return product

li=[10,40,50,40,66,38,40,40]
unique=[]
[unique.append(i) for i in li if i not in unique]
print(unique)
print(product(unique))                  # apply product function to unique

[10, 40, 50, 66, 38]
50160000

In [ ]:
#program to extract elements with the frequency greater than k
li=[8,9,7,8,9,8,2,8,2]
k=int(input("enter the value of k:"))
newlist=[]
for i in li:
  freq=li.count(i)
  if freq>k and i not in newlist:
    newlist.append(i)
print(newlist)
#ans 8 ;   only is repeated more than 2 times i.efreq=4

enter the value of k:2
[8]

In [ ]:
#program to test if the list contains elements in the range

li=[1,2,3,4,5,6,7,8]
i,j=1,6
res=True             # here given i,j are numbers not index
for x in li:
  if x<i or x>j :
    res=False
    break
print("Does list contain all the elements in range:"+str(res))

Does list contain all the elements in range:False

In [ ]:
#program to demonstrate list intersection and union
li1=[1,2,3,4,7,5]
li2=[1,6,3,8,5,9]
li3=set(li1) & set(li2)
print("intersection:",li3)
li4=set(li1) | set(li2)
print("union:",li4)

intersection: {1, 3, 5}
union: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# program to merge 2 sorted list into a single sorted list
'''li1=[11,43,53,89,96]
li2=[56,89,94,102,178]
li3=li1+li2    #or li1.extend(li2)
li3=list(li3)
li3.sort()   # dont write print to method() ou wont get output
print(li3)'''
#or

def merge(li1,li2): #l1 and li1 are same
  m=[]
  i=j=0
  while(i<len(li1)) and (j<len(li2)):
    if(li1[i]<li2[j]):
       m.append(li1[i])
       i=i+1
    else:
      m.append(li2[j])
      j=j+1
  m.extend(li1[i:])
  m.extend(li2[j:])
  return m

l1=[11,23,56,87,91]       # l1 and l2 two sorted ist
l2=[2,5,78,98,125]
print(merge(l1,l2))

[2, 5, 11, 23, 56, 78, 87, 91, 98, 125]

In [ ]:
# find the largest subarray sum of the given list
def largest_sum(lst):
  max_sum = curr_sum = lst[0]      #first element of li
  for i in lst[1:]:            #exclude first element ; it is already conidere as max
    curr_sum = max(i,curr_sum+i)
    max_sum = max(max_sum,curr_sum)
  return max_sum

li=[-2,1,-3,4,-1,2,1,-5,4]
print(largest_sum(li))

6

In [ ]:
# program to partition a list around a given value such that all elements less than the given
# value come before it and all elements greater than the given value come after it

def prtition_lis(lst,pivot):
  less_than=[x for x in lst if x < pivot] #list comprehension
  equal_to=[x for x in lst if x == pivot]
  greater_than=[x for x in lst if x >  pivot]
  return less_than+equal_to+greater_than

my_list=[3,1,4,1,5,9,2,6,5]
pivot=4
print(prtition_lis(my_list,pivot))

#this program can also be done using if statement and append

[3, 1, 1, 2, 4, 5, 9, 6, 5]

In [ ]:
''' INTERVIEW  '''
#find a peak elements in the list of integers ; peak element is a element that is greater than or equal to all its  neighbours
def peak(lst):
  if not lst: # if no elements in lst
    return None
  l,r=0,len(lst)-1  # len(lst-1 = lst(-1))
  while l<r:     # BASED ON INDEX
    mid=(l+(r-l)//2)
    if lst[mid]<lst[mid+1]:
      l= mid+1
    else:
      r=mid         # when left and rigt interviens return l
  return lst[l]

li=[1,1,2,3,5,6,14]
print(peak(li))

14